SCHEMA=http
SERVER=localhost
SERVER_PORT=8050
LOG_LEVEL=debug
DB_HOST=localhost
DB_PORT=27017
DB_NAME=Nodejs_final_project
DB_TEST_ENABLED=true
JWT_SECRET=replace-with-a-random-string-at-least-32-characters-long
JWT_VALID_TIME=480min
LOGIN_RETRY_LIMIT=5
LOGIN_WINDOW_DURATION=3600
LOGIN_BLOCK_DURATION=7200